
.carousel .carousel-item img {
    max-height: 500px;
    height: auto;
}
.card{
    box-shadow: 0 0 2px rgb(165, 165, 165);
}
.list{
    &__title{
        border-bottom: 5px solid $primary;
        width: 25%;
    }
}
.carousel-inner img{
    height: 450px;
}
.box{
    overflow: hidden;
	position: relative;
}
.box img{
    height: 260px;
}
.box img:hover{
    cursor: pointer;
}
.title{
    text-align: center;
    background: #000;
    color: #fff;
    position: absolute;
    transition: all 1s;
    width: 100%;
    font-size: 20px;
    opacity:0.8;
    height: 260px;
    line-height: 260px;
    bottom:-260px;
}
.box:hover .title {
    bottom:0;
}
.more{
    font-weight: bold;
    padding: 15px;
    border: 2px solid #ffffff;
}
.sale{
    font-size: 20px;
}
.sale span{
    font-size: 24px;
    color: rgb(209, 0, 0);
}